# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Manually added by me

# Load configuration at runtime from a .env file which can be used throughout the application. Easily configure any flutter application with global variables using a `.env` file. Package use - https://pub.dev/packages/flutter_dotenv ('.env' for release build that means production and '.env.dev' for development that means only testing)
*.env
*.env.dev

# Confidential Information
/android/key.properties
/android/key.jks
key.properties
key.jks